{% extends "base.html" %}
{% block content %}

<section>
    <div class="row-fluid">
        <div class="span8">
            <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
                <div class="form-group">
                    <label>Insert a value to calculate the least number of coins:</label>
                    <input type="text" name="amount" id="amount"/>
                </div>
                <br/>
                <div class="form-group">
                    or:
                </div>
                <br/>
                <div class="form-group">
                    <label>Upload a file</label>
                    <input type="file" name="attachment" id="attachment"/>

                </div>
                <br/><br/>
                <div class="form-group">
                    <button type="submit">Submit</button>
                </div>
            </form>
        </div>


        {% if result %}
        <div class="span4">
            <h3>Result: </h3>
            {% for coins_total in coins_total_list %}
            <h4>{{ coins_total }}</h4>
            </br>
            {% endfor %}
        </div>
        {% endif %}

    </div>
</section>


{% endblock %}
